<h1 *ngIf = "showSignUp">Signup Page</h1>
<h1 *ngIf = "!showSignUp">Login Page</h1>

<mat-radio-group aria-label="Please select which type of user you are:" [(ngModel)]="userType">
    <mat-radio-button value="patient">Patient</mat-radio-button>
    <mat-radio-button value="doctor">Doctor</mat-radio-button>
</mat-radio-group>

<div>
     
    <input type="text" [(ngModel)]="username">
    <input type="text" [(ngModel)]="password">
</div>
<div *ngIf = "userType === 'doctor' && showSignUp">
    <input type="text" [(ngModel)]="specialty">
</div>
<div *ngIf = "userType === 'patient' && showSignUp">
    <input type="number" [(ngModel)]="age">
    <input type="number" [(ngModel)]="weight">
    <input type="number" [(ngModel)]="height">
    <input type="text" [(ngModel)]="bloodType">
</div>
<div *ngIf = "showSignUp">
    <button (click)="manageSignUp()">Sign Up</button>
    <button (click)="switchPage()">Go to Login Page</button>
</div>
<div *ngIf = "!showSignUp">
    <button (click)="manageLogIn()">Log In</button>
    <button (click)="switchPage()">Go to Sign Up Page</button>
</div>

