<div *ngIf="showAllDrs">
    <h2 id="docsTab">Browse Doctors</h2>
    <table mat-table [dataSource]="dataSource" *ngIf="alldoctors.length != 0">
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Doctor's Name</th>
            <td mat-cell *matCellDef="let doctor">{{doctor.username}}</td>
        </ng-container>

        <ng-container matColumnDef="specialty">
            <th mat-header-cell *matHeaderCellDef>Specialty</th>
            <td mat-cell *matCellDef="let doctor">{{doctor.specialty}}</td>
        </ng-container>

        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef>Button</th>
            <td mat-cell *matCellDef="let doctor"><button id="doc{{doctor.did}}" mat-raised-button (click)="goToMakeAppointment(doctor.did)">Make Appointment</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr> 

</table>
</div>
<div *ngIf="makeApptTab">
    <h2 id="makeApptSection">Make an Appointment</h2>
    <textarea id="symptomsfield" cols="30" rows="10" [(ngModel)] ="enteredSymptoms">Symptoms</textarea><br>
    <input id="dateTime" matInput [matDatepicker]="picker" [(ngModel)]="selectedDateTime">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <p><button mat-raised-button id="createAppt" (click)="makeAppointment(bookedAppointment)">Schedule Appointment</button></p>
</div>

