<table *ngIf="loginDoctor !== null">
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Status</th>
        <th>Date</th>
        <th>Time</th>
        <th>More Info</th>
    </tr>
<tr *ngFor = "let app of appointments">
        <td [(ngModel)]="app.aid" ngDefaultControl>{{app.aid}}</td>
        <td [(ngModel)]="app.patient.pid" ngDefaultControl>{{app.patient.username}}</td>
        <td>{{app.status}}</td>
        <td>{{app.aptTime | date:"MM/dd/yy"}}</td>
        <td>{{app.aptTime | date:"h/mm a"}}</td>
        <td><button (click)="clickBtn(app.aid,app.patient.pid)">More Info</button></td>       
    </tr>
</table>

<table *ngIf="loginPatient !== null">
    <tr>
        <th>ID</th>
        <th>Doctor</th>
        <th>Status</th>
        <th>Date</th>
        <th>Time</th>
        <th>More Info</th>
    </tr>
<tr *ngFor = "let app of appointments">
        <td [(ngModel)]="app.aid" ngDefaultControl>{{app.aid}}</td>
        <td [(ngModel)]="app.doctor.did" ngDefaultControl>{{app.doctor.username}}</td>
        <td>{{app.status}}</td>
        <td>{{app.aptTime | date:"MM/dd/yy"}}</td>
        <td>{{app.aptTime | date:"h/mm a"}}</td>
        <td><button (click)="clickBtn(app.aid,app.doctor.did)">More Info</button></td>       
    </tr>
</table>








