<h1 id="patientTitle">Patient Page</h1>
<app-header></app-header>
<button (click)="goToAppointments()">Appointments</button> <button (click)="goToBrowseDoctors()">Doctors</button> <button (click)="goToAccountInfo()">Account Information</button>
<app-appointments-tab *ngIf="appointments"></app-appointments-tab>
<app-doctor-tab *ngIf="browseDoctors"></app-doctor-tab>
<div *ngIf="accountInfo">
    <h2>User Information</h2>
    <p>Height: {{patient.height}}
    <p>Weight: {{patient.weight}}
    <p>Blood Type: {{patient.bloodType}}
    <p>Age: {{patient.age}}
    <br><button (click)="goToUpdateInfo()">Update</button>
</div>
<div *ngIf="updateInfo">
    <h2>User Information</h2>
    <p>Height: <input type="text" [(ngModel)] = "enteredHeight"></p>
    <p>Weight: <input type="text" [(ngModel)] = "enteredWeight"></p>
    <p>Blood Type: <input type="text" [(ngModel)] = "enteredBloodType"></p>
    <p>Age: <input type="text" [(ngModel)] = "enteredAge"></p>
    <button (click)="updatePatient()">Update</button>
</div>
