<h1>View More</h1>
   
        <div *ngIf="router.url === '/doctor'" id="DoctorViewMorePopup">

           <h2>Appointment Details</h2>
            <p>Patient: {{patient.username}}</p>
            <p>Symptoms: {{appointment.symptoms}}</p>
            <p>Age: {{patient.age}}</p>
            <p>Height: {{patient.height}}</p>
            <p>Weight: {{patient.weight}}</p>
            <p>Blood Type: {{patient.bloodType}}</p>
            <p>Date: {{appointment.aptTime | date:"MM/dd/yy"}}</p>
            <p>Time: {{appointment.aptTime | date:"h/mm a"}}</p>
            <p>Meeting link: {{appointment.meetingLink}}</p>
            <p>Status: {{appointment.status}}</p>

            <button mat-raised-button (click)="rescheduleAppDoctor()">Reschedule Appointment</button>
            <button mat-raised-button id="doctorCancelBtn" (click)="cancelAppDoctor()">Cancel Appointment</button>

            <br/>
            <mat-form-field appearance="standard">
              <mat-label>Diagnosis: </mat-label>
              <input matInput type="text" placeholder={{appointment.diagnosis}} [(ngModel)] = "diagnosis" >
            </mat-form-field>

            <mat-form-field>
              <mat-label>Treatment: </mat-label>
              <input matInput type="text" placeholder={{appointment.treatment}} [(ngModel)] = "treatment" >
            </mat-form-field>

            <br/>

            <button mat-raised-button (click)="prescription()">Prescription</button>

          </div>

        <div *ngIf="router.url === '/patient'">
            <h2>Appointment Details</h2>
            <p>Doctor: {{doctor.username}}</p>
            <p>Symptoms: {{appointment.symptoms}}</p>
            <p>Date: {{appointment.aptTime | date:"MM/dd/yy"}}</p>
            <p>Time: {{appointment.aptTime | date:"h/mm a"}}</p>
            <p>Meeting link: {{appointment.meetingLink}}</p>
            <p>Status: {{appointment.status}}</p>
            <p *ngIf="appointment.diagnosis != ''">Diagnosis: {{appointment.diagnosis}}</p>
            <p *ngIf="appointment.treatment != ''">Treatment: {{appointment.treatment}}</p>
            <button mat-raised-button (click)="rescheduleAppPatient()">Reschedule Appointment</button>
            <button mat-raised-button (click)="cancelAppPatient()">Cancel Appointment</button>
        </div>

    <button mat-raised-button (click)="closeMe()">Close</button>
